section {
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;
    
}

main {
    align-items:center;
}

a.fancy {   
    width: 100px;
    height: 100px;
    background-color: #75b9be;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:20px;
    margin: 20px;
    transition-duration: 0.4s;
}

a.fancy:hover {
    color:#75b9be; 
    background-color:white;
}