section {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;  
}

main {
    align-items:center;
}

a.fancy {   
    width: 100px;
    height: 100px;
    background-color: var(--white);
    color:var(--semidark);
    display:flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size:20px;
    margin: 20px;
    transition-duration: 0.4s;
}

a.fancy:hover {
    color:var(--white); 
    background-color:var(--semidark);
}