section {
    width:100%;
    margin:100px;
}
main {
    
    
}
table {
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid black;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
